@using HabitBuilder.Context
@using HabitBuilder.Model
@using ApexCharts
@using Microsoft.AspNetCore.Components.Authorization
@inject UserProvider UserProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HabitOrderProvider HabitOrderProvider

<h3>HabitGraph</h3>

<div class="card">
    <ApexChart TItem="MyData" Title="Order Chart">
        <ApexPointSeries TItem="MyData" Items="Data" Name="Total Points" SeriesType="SeriesType.Area" XValue="e => e.Order" YValue="e => e.Total" />
    </ApexChart>
</div>

@code {
    private User user;   // stores the user id that can be passed to retrieve specific logs
    private IEnumerable<HabitOrder>? orders; // Enumerable list that can used to iterate through orders
    private List<MyData> Data { get; set; } = new(); 

    protected override async Task OnInitializedAsync()  //This method sets the variables defined previously and calls the method to calculate points
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync(); 
        var username = authState!.User!.Identity!.Name!;
        user = UserProvider.GetUserByUsername(username)!; 
        orders = await HabitOrderProvider.GetAllOrdersAsync(user); // Retrieves all habit logs related to user
        CalculateTotalPoints(); // calls the method which calculates points for the graph
    }

    private void CalculateTotalPoints() //Iterates through all the orders counting up the total points for each day
    {
        if (orders != null)
        {
            foreach (var order in orders)
            {
                var totalPoints = order.Items.Sum(item => item.Habit.Point);
                Data.Add(new MyData { Order = order.Id.ToString(), Total = totalPoints });
            }
        }
    }

    public class MyData
    {
        public string Order { get; set; }
        public decimal Total { get; set; }
    }
}
