﻿@using HabitBuilder.Context
@using HabitBuilder.Model
@using ApexCharts
@using Microsoft.AspNetCore.Components.Authorization
@inject UserProvider UserProvider
@inject HabitLogProvider HabitLogProvider

<h3>HabitGraph</h3>

<div class="card">
    <ApexChart TItem="MyData" Title="HabitLog Chart">
        <ApexPointSeries TItem="MyData" HabitItems="Data" Name="Total Points" SeriesType="SeriesType.Area" XValue="e => e.HabitLog" YValue="e => e.Total" />
    </ApexChart>
</div>

@code {
    private IEnumerable<HabitLog>? orders;
    private List<MyData> Data { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        orders = await HabitLogProvider.GetAllOrdersAsync();
        CalculateTotalPoints();
    }

    private void CalculateTotalPoints()
    {
        if (orders != null)
        {
            foreach (var order in orders)
            {
                var totalPoints = order.HabitItems.Sum(item => item.Habit.Point);
                Data.Add(new MyData { HabitLog = order.Id.ToString(), Total = totalPoints });
            }
        }
    }

    public class MyData
    {
        public string HabitLog { get; set; }
        public decimal Total { get; set; }
    }
}