@page "/"
@using HabitBuilder.Context
@using HabitBuilder.Model
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserProvider UserProvider

<PageTitle>Home</PageTitle>

<body style="background-color: rgba(26,26,39,1)">

@* Checks if the user is logged in, if so shows the graph and log, else prompts to log in *@
@if (user == null)
{
    <div class="alert alert-warning">
        You need to log in to see your habit progress.
    </div>
}
else
{
    <HabitGraph />
    <br />
    <OrderForm />
    <OrderEditForm/>

}

</body>
@code {
    // Validates user to ensure the user is logged in
    private User user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var username = authState!.User!.Identity!.Name!;
        user = UserProvider.GetUserByUsername(username)!;

    }

    private bool showModal = false;

    private void ShowModal()
    {
        showModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
    }
}


