@page "/leaderboard"

@using HabitBuilder.Context
@using HabitBuilder.Model
@using Microsoft.EntityFrameworkCore

<PageTitle>Leaderboard</PageTitle>

<div style="display: flex; justify-content: center; align-items: center;">
    <h3 style="color: gold;">Leaderboard</h3>
</div>



<LeaderboardView/>

@code {

}
